@page
@model DR4AT.Pages.Reservas.IndexModel

@{
    ViewData["Title"] = "Reservas";
}

<h1>Reservas</h1>

<p>
    <a asp-page="Create">Criar Nova</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Reserva[0].DataReserva)</th>
            <th>@Html.DisplayNameFor(model => model.Reserva[0].Cliente)</th>
            <th>@Html.DisplayNameFor(model => model.Reserva[0].PacoteTuristico)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reserva)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DataReserva)</td>
                <td>@Html.DisplayFor(modelItem => item.Cliente.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.PacoteTuristico.Titulo)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
