@page
@model DR4AT.Pages.PacotesTuristicos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PacoteTuristico</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacoteTuristico.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacoteTuristico.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacoteTuristico.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacoteTuristico.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacoteTuristico.CapacidadeMaxima)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacoteTuristico.CapacidadeMaxima)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacoteTuristico.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacoteTuristico.Preco)
        </dd>
        <dt class="col-sm-2">
            Destinos
        </dt>
        <dd class="col-sm-10">
            @if (Model.PacoteTuristico.Destinos != null && Model.PacoteTuristico.Destinos.Any())
            {
                <ul class="mb-0">
                    @foreach (var destino in Model.PacoteTuristico.Destinos)
                    {
                        <li>
                            @destino.Nome
                            @if (!string.IsNullOrEmpty(destino.Pais))
                            {
                                <text> - @destino.Pais</text>
                            }
                        </li>
                    }
                </ul>
            }
            else
            {
                <span>Sem destinos cadastrados.</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PacoteTuristico.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
