@page
@model DR4AT.Pages.PacotesTuristicos.IndexModel

@{
    ViewData["Title"] = "Pacotes Turísticos";
}

<h1>Pacotes Turísticos</h1>

<p>
    <a asp-page="Create">Criar Novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PacoteTuristico[0].Titulo)</th>
            <th>@Html.DisplayNameFor(model => model.PacoteTuristico[0].DataInicio)</th>
            <th>@Html.DisplayNameFor(model => model.PacoteTuristico[0].CapacidadeMaxima)</th>
            <th>@Html.DisplayNameFor(model => model.PacoteTuristico[0].Preco)</th>
            <th>Destinos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PacoteTuristico)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Titulo)</td>
                <td>@Html.DisplayFor(modelItem => item.DataInicio)</td>
                <td>@Html.DisplayFor(modelItem => item.CapacidadeMaxima)</td>
                <td>@Html.DisplayFor(modelItem => item.Preco)</td>
                <td>
                    @if (item.Destinos != null && item.Destinos.Any())
                    {
                        <ul class="mb-0">
                            @foreach (var destino in item.Destinos)
                            {
                                <li>@destino.Nome</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

